body{
    font-family: Arial, sans-serif;
    background-color: rgb(2, 3, 39);
    padding: 20px;
    text-align: center;
}
h1{
    color: #ccc;
}
p{
    color: #cccccc;
}
button{
    background-color: #00f;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}
button:hover{
    background-color: lightseagreen;
}